<div class="container">
  <ngb-tabset #tabs type="pills" justify="justified">
    <ngb-tab id="ingresarTab" title="Ingreso de vehiculos">
      <ng-template ngbTabContent>
          <div class="container" style="text-align: center">
            <h1 align="center" style="margin: 3%">INGRESAR VEHICULO</h1>
            <form name="ingresarVehiculoForm" id="ingresarVehiculoForm" #ingresarVehiculoForm="ngForm" novalidate>
              <div class="form-group">
                <label for="placaIngreso">PLACA VEHICULO A INGRESAR:</label>
                <input type="text" [(ngModel)]="ingresoModel.plate" name="plate" #plate="ngModel" class="form-control" id="placaIngreso" required minlength="5">
                <div *ngIf="plate.invalid && plate.dirty" class="alert alert-danger">
                  <div *ngIf="plate.errors.required">
                    La placa es necesaria.
                  </div>
                  <div *ngIf="plate.errors.minlength">
                    La placa debe tener 6 caracteres.
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="tipo">TIPO DE VEHICULO:</label>
                <select class="form-control" [(ngModel)]="ingresoModel.type" name="type" id="tipo" required>
                  <option (value)="CAR">CARRO</option>
                  <option (value)="BIKE">MOTO</option>
                </select>
              </div>
        
              <div *ngIf="(ingresoModel.type == 'BIKE')" class="form-group">
                <label for="cc">CILINDRAJE VEHICULO:</label>
                <input type="number" [(ngModel)]="ingresoModel.cc" name="cc" class="form-control" id="cc">
              </div>
        
              <button (click)="ingresarVehiculoForm.valid && IngresarVehiculo()" class="btn btn-success" style="margin: 3%">Ingresar Vehiculo</button>
              <button (click)="limpiarForm('Ingreso')" class="btn btn-info" style="margin: 3%">Limpiar</button>
          
            </form>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="retirarTab" title="Salida de vehiculos">
        <ng-template ngbTabContent>
          <div class="container" style="text-align: center">
            <h1 align="center" style="margin: 3%">RETIRAR VEHICULO</h1>
            <form>
              <div class="form-group">
                <label for="placaRetirar">PLACA DE VEHICULO A RETIRAR:</label>
                <input type="text" [(ngModel)]="retiroPlaca" name="retiroPlaca" class="form-control" id="placaRetirar" required>
              </div>

              <div *ngIf="consultandoVehiculo" class="form-group">
                <b>TIPO: </b>{{vehiculoConsultado.type}}<br/>
                <b>PLACA: </b>{{vehiculoConsultado.plate}}<br/>
                <div *ngIf="vehiculoConsultado.type=='BIKE'"><b>CC:</b>{{vehiculoConsultado.cc}}<br/></div>
                <b>FECHA INGRESO: </b>{{vehiculoConsultado.entryDate}}<br/>
                <b>FECHA SALIDA:</b>{{vehiculoConsultado.exitDate}}<br/>
                <b>HORAS TOTALES:</b>{{vehiculoConsultado.totalHours}}<br/>
                <b>PRECIO TOTAL:</b>{{vehiculoConsultado.totalPrice}}<br/>
              </div>
        
              <button (click)="RetirarVehiculo()" class="btn btn-success" style="margin: 3%">Retirar Vehiculo</button>
              <button (click)="limpiarForm('Retiro')" class="btn btn-info" style="margin: 3%">Limpiar</button>
        
            </form>
          </div>
        </ng-template>
      </ngb-tab>
    <ngb-tab id="consultarTab" title="Consulta de vehiculos">
      <ng-template ngbTabContent>
        <div class="container" style="text-align: center">
          <h1 align="center" style="margin: 3%">CONSULTAR VEHICULO</h1>
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Placa</th>
                <th>Tipo</th>
                <th>Fecha Entrada</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vehiculo of vehiculos">
                <td>{{vehiculo.id}}</td>
                <td>{{vehiculo.plate}}</td>
                <td>{{vehiculo.type}}</td>
                <td>{{vehiculo.entryDate}}</td>
                <td><button (click)="salidaVehiculo(vehiculo.plate)" class="btn btn-info">Salida</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
